[submodule "ModelarDB-RS"]
	path = ModelarDB-RS
	url = https://github.com/ModelarData/ModelarDB-RS
[submodule "Telegraf-Output-Apache-Arrow-Flight"]
	path = telegraf/Telegraf-Output-Apache-Arrow-Flight
	url = https://github.com/ModelarData/Telegraf-Output-Apache-Arrow-Flight
